@model ProfileViewModel

@{
    ViewData["Title"] = "Профиль";
}

<div>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <p>
            <label>Имя профиля</label>
            <input name="ProfileName" type="text" value="@Model.ProfileName" />
            <div сlass="error"> @Html.ValidationMessageFor(m => m.ProfileName)</div>
        </p>
        <p> 
            <label>Изображение профиля</label>
            <input type="file" name="imageData" />
        </p>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
