@model bool

@if(Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/profile">Профиль</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/login">Авторизация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/register">Регистрация</a>
    </li>
}
