@model LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}

<div>
    <form action="login" method="post">
        <p>
            <label>Email</label>
            <input name="Email" type="text" value="@Model.Email" />
            <div class="error"> @Html.ValidationMessageFor(m => m.Email)</div>
        </p>
        <p>
            <label>Пароль</label>
            <input name="Password" type="password" />
            <div class="error"> @Html.ValidationMessageFor(m => m.Password)</div>
        </p>
        <button>Авторизоваться</button>
    </form>
</div>